{% extends 'base.html.twig' %}

{% block title %}Accueil Knaban
{% endblock %}

{% block body %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{% include 'project/index.html.twig' %}
	{% else %}
		<p>
			faire un design pour la connexion
		</p>
	{% endif %}

{% endblock %}
