{% extends 'base.html.twig' %}

{% block title %}Accueil Knaban
{% endblock %}

{% block body %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{% include 'project/index.html.twig' %}
	{% else %}
		<div class="row align-items-center justify-content-center h-100 text-center">
			<div class="col-sm-4">
				<div class="box">
					<p class="fst-italic">Si pas de compte</p>
					<h6>Inscrivez-vous</h6>
					<a class="btn btn-box" href="{{ path('register') }}">Inscription</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="box">
					<p class="fst-italic">Sinon</p>
					<h6>Connectez-vous</h6>
					<a class="btn btn-box" href="{{ path('app_login') }}">Connexion</a>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
