<div class="div">
	<a class="btn btn-success" href="{{ path('column.new', { 'id': project.id }) }}">Create new column</a>
</div>
{% for column in columns %}
	<div class="col">
		<h2>{{ column.title }}</h2>
		<a class="fst-italic" href="{{ path('column.edit', { 'id': project.id, 'column_id': column.id }) }}">edit</a>
		<a class="fst-italic text-warning" href="{{ path('task.new', { 'id': project.id, 'column_id': column.id }) }}">add task</a>
		{% include 'task/index.html.twig' %}
	</div>
{% else %}
	<div class="alert alert-info">
		no records found
	</div>
{% endfor %}
