{% extends 'base.html.twig' %}

{% block title %}New Project
{% endblock %}

{% block body %}
	<h1>Create new Project</h1>

	{{ include('project/_form.html.twig') }}

	<a class="btn btn-info mt-3" href="{{ path('home') }}">back to list</a>
{% endblock %}
